html, body {
    height: 100%;
    margin: 0;
}

section {
    height: 75%;
}

.logo {
    width: 100%;
}

h1 {
    text-align: center;
    margin: auto;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.foto {
    max-height: 100%;
    object-fit: cover;
}

.name {
    font-size: 800%;
    margin: auto;
    margin-top: 10%;
}

.middle {
    margin: auto;
}

.cas {
    font-size: 800%;
}

.table {
    font-size: 150%;
}

.category {
    margin-left: 15px;
}

.hidden {
    display: none;
}